.navbar{
    display: flex;
    color:black;
    height: 50px;
    align-items: center;
    position: relative;    
}
.navbar-right-col{
    position: absolute;
    right: 0;
}

.navbar-logo{
    font-size: 2rem;
    margin-left: 10px;
}

.navbar-btn{
    border:1px solid royalblue;
    border-radius: 12px;
    background-color: white;
    color: royalblue;
    width:100px;
    height: 40px;
    text-align: center;
    margin: auto 8px;
    font-size: large;
}
.navbar-btn:hover{
  background-color: royalblue;
  color: white;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  
  #lblCartCount {
      font-size: 20px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }
  
 .fa-cart-plus{
    color: royalblue;
    font-size: 2.2rem;
    margin: auto 8px;
}