h1{
    color: royalblue;
}
form{
   max-width: 600px;
   margin:20px auto;
   padding-top: 20px;
   background-color:antiquewhite;
}
form div{
    
    width: 100%;
    display: grid;    
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
    
}
.err-msg{
    color: red;
    word-wrap: break-word;
}
input{
    height: 50px;
    width: 350px;
    max-width: 100%;
    font-size: large;
    border-radius: 15px;
    border-color: royalblue;
    text-align: center;
    margin-left: 5px;
}

button{
   height: 45px;
   width:100px;
   border-radius: 10px;
   background-color: white;
   color: royalblue;
   border-color: royalblue;
   font-size: large;
}
label{
    margin:10px auto;
}
button:hover{
    background-color: royalblue;
    color: white;
    border-color: white;
}
@media only screen and (max-width:450px){
    form div{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }
    label{
        margin:5px 15px;
    }
}
